.bigDiv{
  font-family: "Times New Roman", Times, serif;
  background-color:white;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.main{
  font-size: 25px;
  font-weight: bold;
}
.box3{
  margin-left: 90px;
  height: 20vh;
  background-color: white;
  width: 45vw;
}
.box4{
  height: 20vh;
  width: 55vw;
  margin-left: 60px;

}
.box5{
  height: 20vh;
  width: 60vw;


}

ul{
  list-style-type: none;
}

.btn{
  color: white;
  background-color: orange;
  margin-left: 86px;
  border-radius: 15px;
  margin-top: 15px;
}
#box6{

  height: 25vh;
  width: 35vw;
  text-align: center;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #c7c5c5;
}
#box7{

  height: 25vh;
  width: 35vw;
  text-align: center;
  padding: 10px;
  border: 1px solid #c7c5c5;
}
#box8{

  height: 25vh;
  width: 100vw;
  text-align: center;
  padding: 10px;
  margin-left: 105px;
  margin-top: 5px;
  border: 1px solid #c7c5c5;
}
#box9{
  height: 25vh;
  width: 100vw;
  text-align: center;
  padding: 10px;
  margin-left: 7px;
  margin-top: 5px;
  border: 1px solid #c7c5c5;
}

.scholorship{
  font-weight: bold;

}
.help{
  font-weight: bold;

}
.homeless{
  font-weight: bold;
}
.frc{
  font-weight: bold;
}
.navbut{
  background-color: orange;
  width: 10vw;
  color: white;
  margin-right: 15px;
}
